body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
header img {
    max-width: 30%;
    height: auto;
}

.container {
margin: 20px;
}

fieldset {
margin: 20px;
}

legend {
font-weight: bold;
margin-bottom: 10px;
}

label {
display: block;
color: #333; 
padding-top: 50px;
}

textarea {
width: 100%;
padding-bottom: 10px;
border: 1px solid #ccc;
}

button {
padding: 10px 20px;
background-color: #333;
color: #fff; 
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #3617a3; 
}


header {
background-color: #333; 
color: #FFFFFF; 
display: grid;
grid-template-columns: 1fr auto;
align-items: center;
padding: 20px;
}

#main-nav {
display: flex;
justify-content: space-between;
align-items: center;
}

#main-nav a {
display: block;
padding: 10px;
text-decoration: none;
color: white;
}

#main-nav a:hover {
    color: coral;
}

#main-nav button {
display: none;
}

.hero1 {
    position: relative;
    color: #fff;
}

.hero1 h1 {
font-style: italic; 
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hero1 img {
width: 100%;
}

.content1 {
position: absolute;
top: 10px; 
right: 10px; 
background-color: #333; 
padding: 20px;
border-radius: 10px;
color: #fff;
}

.content1 h1 {
font-size: 24px;
font-weight: bold;

}

.content1 p {
font-size: 18px;
}

.btn {
background-color: #0000ee; 
color: #fff; 
padding: 10px 20px; 
text-decoration: none;
border-radius: 5px; 
transition: background-color 0.3s; 
font-weight: bolder;
}

.btn:hover {
background-color: #3617a3;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px;
}

.sociallinks {
display: flex;
gap: 10px;
justify-content: flex-end;
}

.sociallinks a img {
width: 30px;
height: auto;
}

h4 {
color: #0000ee;
}

h2 {
font-size: 24px;
color: #0000ee;
text-align: center;
}

.category-toggle {
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 20px;
}

.toggle-content {
display: none;
}

.tick-box {
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 20px;
}

.tick-box label {
display: block;
margin-bottom: 5px;
}

.tick-box input[type="radio"] {
margin-right: 5px;
}

.button-container {
display: flex;
justify-content: flex-start;
}

input[type="text"],
input[type="email"],
textarea {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

/* CSS for Preview Section */
#preview-section {
margin-top: 20px;
padding: 10px; 
background-color: #333; 
color: white;
}

#preview-section h2 {
font-size: 24px;
color: #00FF00;
text-align: center;
}

#preview-section p {
font-size: 16px;
margin-bottom: 10px;
}

#preview-section a {
margin-left: 10px;
color: #00FF00;
text-decoration: none;
}

#preview-section a:hover {
text-decoration: underline;
}

.about {
    width: 60%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
}

.about h2 {
    margin-bottom: 20px; 
}

.about p {
    line-height: 1.6; 
}


/* CSS for mobile view */
@media (max-width: 768px) {
    #main-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #main-nav a {
        display: none;
    }

    #main-nav button {
        display: block;
        padding: 10px;
        background-color: #0000ee;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #main-nav button:hover {
        background-color: #555;
    }

    .hero1 img {
        width: 100%; 
        max-width: none; 
    }

    .content1 {
        margin: 50px 0 0 0; 
        display: block;
        padding-top: 5px;
    }

    .container {
        margin-top: 130px;
    }

    .show {
        display: block !important;
      }
}

