/* Body styles */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Header, Main, Footer */
    min-height: 150vh;
}

/* Header styles */
.header {
    background-color: #444;
    color: #fff;
    padding-bottom: 60px;
  
}

/* Navigation styles */
.nav {
    color: #fff;
    display: flex;
    background-color: black;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin: 0 70px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content and sidebar styles */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr; /* Main content and sidebar */
}

.content {
    background-color:cadetblue;
} 

.sidebar {
    background-color: #f4f4f4;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0 20px 40px;
}
